* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Tigerious";
}

.maincontainer {
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  background: #242424;
  background: radial-gradient(
    circle farthest-corner at center center,
    #242424 0%,
    #0f0f0f 80%
  );
  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    #242424 0%,
    #0f0f0f 80%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    #242424 0%,
    #0f0f0f 80%
  );
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  align-items: center;
}

.continents {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
}

.continent {
  position: absolute;
  cursor: pointer;
}

#america-svg-div {
  top: 7%;
  left: 2%;
}

#australia-svg-div {
  bottom: 10%;
  right: 7%;
}

#asia-svg-div {
  bottom: 23%;
  right: 5%;
  z-index: 10;
}

#europe-svg-div {
  top: 15%;
  right: 42%;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.1);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
    transform: translatey(0px);
  }
}

.continent-animation:hover {
  opacity: 1;
  filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.7));
  transform: translateY(-5px);
}

.continent-animation:hover .continent {
  width: 120%;
  height: 200%;
  background-color: red;
}

.continent-animation {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

#africa-svg {
  fill: rgba(240, 240, 240, 0.52);
  transform: translateZ(10px);
  filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.4));
}

#europe-svg {
  fill: rgba(240, 240, 240, 0.52);
  /* filter: drop-shadow(3px 3px 2px rgba(116, 116, 116, 0.6)); */
  transform: translateZ(10px);
  filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.4));
}

#america-svg {
  fill: rgba(240, 240, 240, 0.52);
  /* filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7)); */
  transform: translateZ(10px);
  filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.4));
}

#australia-svg {
  fill: rgba(240, 240, 240, 0.52);
  filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.4));
  transform: translateZ(10px);
}

#asia-svg {
  fill: rgba(240, 240, 240, 0.52);
  filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.4));
  transform: translateZ(10px);
}

#africa-svg-div {
  bottom: 12%;
  right: 37%;
}

#hawkeye-main-logo {
  margin: 2rem 0;
  flex: 1;
  font-size: 6.6rem;
  color: rgb(128, 149, 159);
}

#hawkeye-main-subheading {
  font-size: 2.8rem;
  color: rgb(128, 149, 159);
  margin: 3rem 0;
  z-index: 100;
}

#hawkeye-countdown-div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* border:2px solid white; */
  padding: 4rem 0;
  flex: 3;
}
