* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Tigerious";
}

.maincontainer {
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  background: #242424;
  background: radial-gradient(
    circle farthest-corner at center center,
    #242424 0%,
    #0f0f0f 80%
  );
  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    #242424 0%,
    #0f0f0f 80%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    #242424 0%,
    #0f0f0f 80%
  );
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  align-items: center;
}

.continents {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
}

.continent-div {
  position: absolute;
  cursor: pointer;
}


 



#america-svg-div {
  top: 7%;
  left: 2%;
}

#australia-svg-div {
  bottom: 10%;
  right: 7%;
}

#asia-svg-div {
  bottom: 23%;
  right: 5%;
  z-index: 10;
}

#europe-svg-div {
  top: 15%;
  right: 42%;
}

#africa-svg-div {
  bottom: 12%;
  right: 37%;
}



#hawkeye-main-logo {
  margin: 2rem 0;
  flex: 1;
  font-size: 6.6rem;
  color: rgb(128, 149, 159);
}


#hawkeye-main-subheading {
  font-size: 2.8rem;
  color: rgb(128, 149, 159);
  margin: 3rem 0;
  z-index: 100;
}

#hawkeye-countdown-div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* border:2px solid white; */
  padding: 4rem 0;
  flex: 3;
}

 


.continent-animation-colors{
  opacity:0.2;
  transition:0.3s ease-in-out;
  fill:rgb(136, 136, 136);
}

.continent:hover  > .continent-animation,
.continent:hover  > .continent-animation > .continent-animation-colors{
opacity:1;
animation:float 1.2s ease-in-out infinite;
}



 
@keyframes float {
  0% {
    filter:drop-shadow(2px 2px 5px rgba(255,255,255,0.5));

    transform: translatey(0px);
  }

  50% {
    filter:drop-shadow(4px 4px 5px rgba(255,255,255,0.5));
    transform: translatey(-5px);
 
  }

  100% {
    filter:drop-shadow(2px 2px 5px rgba(255,255,255,0.5));
    transform: translatey(0px);
  }
}